@tailwind base;
@tailwind components;
@tailwind utilities;

.homeFirst {
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-second {
    background-color: #2a323b;
}

.grid-rows-7 {
    grid-template-rows: repeat(7, minmax(0, 1fr));
}

.grid-rows-8 {
    grid-template-rows: repeat(8, minmax(0, 1fr));
}

.grid-rows-9 {
    grid-template-rows: repeat(9, minmax(0, 1fr));
}

.grid-rows-10 {
    grid-template-rows: repeat(10, minmax(0, 1fr));
}

.grid-rows-12 {
    grid-template-rows: repeat(12, minmax(0, 1fr));
}


.row-span-7 {
    grid-row: span 7 / span 7;
}

.row-span-8 {
    grid-row: span 8 / span 8;
}

.row-span-9 {
    grid-row: span 9 / span 9;
}

.row-start-8 {
    grid-row-start: 8;
}

.row-start-9 {
    grid-row-start: 9;
}

.row-start-10 {
    grid-row-start: 10;
}

.row-start-11 {
    grid-row-start: 11;
}

.row-start-12 {
    grid-row-start: 12;
}

.project-grid {
    grid-row-start: 3;
    grid-row: span 9 / span 9;
}

/* .test {
    width: 100px;
    height: 100px;
} */